.container {
  max-width: 550px;
  border: 1px solid lightgray;
  padding: 2rem 3rem 4rem 3rem;
  border-radius: 5px;
}

li {
  width: 100%;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid white;
  background-color: #4714ff;
  border-radius: 5px;
}

button a {
  text-transform: capitalize;
  color: white !important;
  text-decoration: none;
}

a:hover {
  background-color: #264a47;
  color: white;
}

a:hover {
  text-decoration: none;
}
